.character-item-post {
  // margin-bottom: 20px;
  .image-container {
    display: flex;
    justify-content: center;
  }
  .content-container {
    h2 {
      color: $yellow-primary;
    }
    .character-details {
      background-color: $red-primary-30;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 5px;
    }
  }
}