body {
  background: $black;
}

main {
  padding: 50px 20px 25px;
}

h1 {
  color: $white;
  text-shadow: 2px 2px 2px $red-primary;
  font-size: 64px;
  text-align: center;
}

h2 {
  color: $white;
  text-shadow: 2px 2px 2px $red-primary;
  font-size: 39px;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  color: $yellow-primary;
  text-shadow: 1px 1px 2px $red-primary;
  font-size: 24px;
  text-align: center;
  margin: 7px 0px;
}

// h4 {
//   color: $white;
//   font-size: 1.1rem;
//   text-align: center;
// }

// h5 {
//   color: $yellow-accent;
//   font-size: 24px;
//   text-align: center;
// }

h6 {
  color: $white;
  text-align: center;
}

p, ul, ol {
  color: $white;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 25px;
}

strong {
  color: $yellow-accent;
  font-weight: 800;
  font-size: 15px
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* Define the keyframes for fading in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}