/* Reset or Normalize Default Styles */

/* Reset margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Normalize typography */
html {
  font-size: 15px;
  color-scheme: dark;
}

body {
  line-height: 1.5;
}

/* Remove underlines from links */
a:not([class]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* Scroll padding allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}

/* Scroll padding allowance below focused elements 
  to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}
